<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand">
                <img src="assets/images/logo35h.png" />
            </div>
        </div>

        <div class="navbar-collapse"
             ng-class="{collapse: navCollapsed}">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home.instances">Instances</a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.stats">Stats</a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home.trafficmap">Map</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="vm.logout()">
                        <i class="icon icon-sign-out"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
