.instance {
    position: relative;

    width: 120px;
    height: 80px;

    padding: 10px;

    text-align: center;

    border: 1px solid $panel-default-border;
    border-radius: 5px;

    .instance-info {
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;

        margin-top: 10px;
    }

    .instance-button {
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;

        background: #676767;
        border-radius: 5px;

        cursor: pointer;

        opacity: 0;

        .icon {
            display: block;

            margin-top: 18px;
            font-size: 40px;

            color: #fff;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .instance-icons {
        margin-top: 10px;

        font-size: 18px;
    }
}
