<section class="instances">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Instances

                            <div class="instances-scaling pull-right">
                                Min: <span ng-bind="vm.scaling.min"></span>
                                / Required: <span ng-bind="vm.scaling.required"></span>
                                / Max: <span ng-bind="vm.scaling.max"></span>

                                <div class="btn-group" role="group">
                                    <button class="btn btn-default btn-xs"
                                            type="button"
                                            ng-click="vm.scaleMax()"><i class="icon icon-starting"></i></button>

                                    <button class="btn btn-default btn-xs"
                                            type="button"
                                            ng-click="vm.openScalingModal()">Scaling</button>

                                    <button class="btn btn-default btn-xs"
                                            type="button"
                                            ng-click="vm.scaleMin()"><i class="icon icon-stopping"></i></button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2"
                                 ng-repeat="instance in vm.instances track by instance.content.name"
                                 ng-show="vm.instances.length > 0">
                                <instance container="instance"></instance>
                            </div>

                            <div class="col-sm-12 list-empty"
                                 ng-show="vm.instances.length <= 0">
                                <i class="icon icon-empty"></i>
                                <span>No instance found</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
