<section class="stats">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default stats-global">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Global stats

                            <div class="btn-group pull-right" role="group">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        ng-class="{'active': vm.scale === 60000}"
                                        ng-click="vm.scale = 60000">1m
                                </button>
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        ng-class="{'active': vm.scale === 3600000}"
                                        ng-click="vm.scale = 3600000">1h
                                </button>
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        ng-class="{'active': vm.scale === 86400000}"
                                        ng-click="vm.scale = 86400000">1d
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="stats-global-item col-sm-6">
                                Count of requests: <span ng-bind="vm.global.rq_count"></span>
                            </div>

                            <div class="stats-global-item col-sm-6">
                                Received: <span ng-bind="vm.global.kbytes_received"></span>kb
                                / Sent: <span ng-bind="vm.global.kbytes_sent"></span>kb
                            </div>
                        </div>

                        <div class="row">
                            <div class="stats-global-item col-sm-6">
                                Stop orders: <span ng-bind="vm.global.stop_order_count"></span></li>
                            </div>

                            <div class="stats-global-item col-sm-6">
                                Requests before stop (min/avg/max):

                                <span ng-if="vm.global.rq_before_stop">
                                    <span ng-bind="vm.global.rq_before_stop.min"></span>
                                    / <span ng-bind="vm.global.rq_before_stop.avg"></span>
                                    / <span ng-bind="vm.global.rq_before_stop.max"></span>
                                </span>

                                <span ng-if="!vm.global.rq_before_stop">none</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Requests</div>
                    </div>

                    <div class="panel-body">
                        <timechart columns="vm.requests.columns" data="vm.requests.data"></timechart>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Flow</div>
                    </div>

                    <div class="panel-body">
                        <timechart columns="vm.flow.columns" data="vm.flow.data"></timechart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
